
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');

body {
  margin: 0;
  padding: 0;
}

.nav-section {
 background-color: #fff;
}

.main-section {
  background-color: #fff;
}

.solutions-section {
  background-color: #fff;
}

.meetTheTeam-section {
  background-color: #fff;
}

.aboutUs-section {
  background-color: #fff;
}

.contactUs-section {
  background-color: #fff;
}

/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */


/* .navbar {
  background-color: #ffffff;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1296px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
} */

.navbar {
  background-color: #ffffff;
  color: white;
  position: fixed;
  top: 3.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1296px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.navbar h1 {
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero-logo {
  width: 10%;
  max-width: 50px;
  height: auto;
  border-radius: 50%;
}

.hamburger {
  flex-direction: column;
  cursor: pointer;
}

.hamburger,
.btn-contact {
  margin-left: 20px;
}

.btn-contact  {
  width: 115px;
  font-size: 0.7rem;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: rgb(104, 104, 104);
  margin: 3px 0;
  transition: 0.3s;
}

.sidebar {
  background-color: #444;
  color: white;
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  padding: 20px;
  transition: 0.3s;
  z-index: 2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sidebar.active {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active div:nth-child(2),
.hamburger.active div:nth-child(3) {
  opacity: 0;
}

.hamburger.active div:nth-child(4) {
  transform: translateY(-8px) rotate(-45deg);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  
}

.close-btn:hover {
  border: solid 1px rgb(134, 134, 134);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
